div.portfolio-inside {
	padding-bottom: 150px;
}

header.portfolio-header {
	text-align: center;
	margin-bottom: 65px !important;
	max-width: 655px;
	margin: 0 auto;
}

header.portfolio-header>h1 {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 2.5em;
	margin-bottom: 25px;
}

header.portfolio-header>p {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 1em;
}

div.portfolio-items {
	width: 100%;
	display: grid;
	grid-template-columns: 48% 48%;
	grid-column-gap: 4%;
	grid-template-rows: 48% 48%;
	grid-row-gap: 4%;
}

div.portfolio-item>img {
	width: 100%;
	height: 100%;
}